.img-1 {
    width: 250px;
    height: 250px;
}
.img-1:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title {
    color:#ff88aa;
    font-family: 'Dancing Script', cursive;
    margin: 10px auto;
    display: block;
    width: 100%;
    text-align: center;
}
#navegacao nav ul li a{
    color: white;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
    padding: 14px;
}
#navegacao nav ul li a:hover{
    color:black;
    
}
.bg-marron{
    background: #684650;
    color:#ff88aa;
} 
.btn-rosa {
    color:#fff;
    background: #ff88aa;
    display: block;
}
.title-form {
    color:#ff88aa;
    font-family: 'Dancing Script', cursive;
    margin: 10px 0;
    font-size: 18px;
}
.midias {
    width: 64px;
}
.rodape {
    background: #ff88aa;
    color:white;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}
.link a{
    color:white;

}
.bg-rosa{
    color:#fff;
    background: #ff88aa;
}
.text-logo {
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
    text-align: center;
}
.borda {
    border-bottom:4px solid #ff88aa;
}
.btn-enviar{
    width: 180px;
}
.overflow{
    overflow-x: hidden;
}

